{% extends 'frontoffice/base.html.twig' %}
{% import "frontoffice/elements.html.twig" as elements %}

{% block title %}{{ employee().firstName }} {{ employee().lastName }} - {{ 'nav.about'|trans }}{% endblock %}

{% block body %}
    <div class="mx-auto px-2 max-w-screen-xl sm:px-4 md:px-8">
        <div class="mt-4 md:mt-8 xl:mt-16">
            {{ elements.header_overtitle(employee().firstName ~ ' ' ~ employee().lastName) }}
            {{ elements.header_title(employee().role) }}
            {{ elements.header_description(employee().description) }}
            
            {{ elements.service_links(employee()) }}
        </div>
    </div>

    {{ elements.hr() }}

    <div class="mx-auto px-2 max-w-screen-xl sm:px-4 md:px-8">
        {% for work in works %}
            {{ elements.activity(work, 'MMMM YYYY') }}
        {% endfor %}
    </div>

    {{ elements.hr() }}

    <div class="mx-auto px-2 max-w-screen-xl sm:px-4 md:px-8">
        {% for training in trainings %}
            {{ elements.activity(training, 'YYYY') }}
        {% endfor %}
    </div>
{% endblock %}