{% import "frontoffice/elements.html.twig" as elements %}

<!DOCTYPE html>
<html id="app" class="light">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{{ employee().firstName }} {{ employee().lastName }}{% endblock %}</title>
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body class="min-h-screen flex flex-col text-gray-500 md:text-lg lg:text-xl xl:text-2xl dark:bg-gray-800 dark:text-gray-300">
        <header class="mx-auto px-2 w-full max-w-screen-xl sm:px-4 md:px-8">
            <div class="relative h-12 flex items-center border-b border-gray-200 md:h-16 dark:border-gray-600">
                <a class="h-full flex items-center font-bold tracking-tight xl:text-xl" href="{{ url('home') }}"><span class="text-gray-800 dark:text-white">{{ employee().firstName|lower }}</span><span class="text-gray-400">{{ employee().lastName|lower }}</span></a>

                <nav class="ml-auto h-full text-xs font-medium sm:text-sm md:text-base">
                    <ul class="h-full flex">
                        <li>{{ elements.nav_link('nav.about', 'about') }}</li>
                    </ul>
                </nav>
            </div>
        </header>

        <main class="w-full flex-grow flex flex-col">
            {% block body %}{% endblock %}
        </main>

        <footer class="mt-4 mx-auto px-2 w-full max-w-screen-xl md:mt-8 xl:mt-16 sm:px-4 md:px-8">
            <div class="py-2 flex items-center border-t border-gray-200 sm:py-4 dark:border-gray-600">
                <div id="dark-mode-toggler" class="m-auto"></div>
            </div>
        </footer>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
