{% import "frontoffice/elements.html.twig" as elements %}

<!DOCTYPE html>
<html id="app" class="{{ darkModeClass() }}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{{ employee().firstName }} {{ employee().lastName }}{% endblock %}</title>
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-T4ZYNRV841"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-T4ZYNRV841');
        </script>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('manifest.json') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ asset('ms-icon-144x144.png') }}">
        <meta name="theme-color" content="#ffffff">
    </head>

    <body class="min-h-screen flex flex-col text-gray-500 md:text-lg lg:text-xl xl:text-2xl dark:bg-gray-800 dark:text-gray-300">
        <header class="mx-auto px-2 w-full max-w-screen-xl sm:px-4 md:px-8">
            <div class="relative h-12 flex items-center border-b border-gray-200 md:h-16 dark:border-gray-600">
                <a class="h-full flex items-center font-bold tracking-tight xl:text-xl" href="{{ url('home') }}"><span class="text-gray-800 dark:text-white">{{ employee().firstName|lower }}</span><span class="text-gray-400">{{ employee().lastName|lower }}</span></a>

                <nav class="ml-auto h-full text-xs font-medium sm:text-sm md:text-base">
                    <ul class="h-full flex">
                        <li>{{ elements.nav_link('nav.about', 'about') }}</li>
                    </ul>
                </nav>
            </div>
        </header>

        <main class="w-full flex-grow flex flex-col">
            {% block body %}{% endblock %}
        </main>

        <footer class="mt-4 mx-auto px-2 w-full max-w-screen-xl md:mt-8 xl:mt-16 sm:px-4 md:px-8">
            <div class="py-2 flex items-center border-t border-gray-200 sm:py-4 dark:border-gray-600">
                <div id="dark-mode-toggler" class="m-auto"></div>
            </div>
        </footer>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
